body {
  margin: 0;
}

canvas {
  position: absolute;
  left: calc(25vw + 12.5px);
  top: 5px;
}

button {
  margin-top: 10px;
  background-color: #00aa22;
  border: 1px solid #000000;
}

button:disabled {
  background-color: #005511;
}

#detailsPane {
  position:absolute;
  top: 5px;
  left: calc(25vw + 550px);
  border-left: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 300px;
  min-height: 500px;
}

#detailsPane::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 225px;
  left: -50px;
  border: 25px solid;
  border-color: transparent #000000 transparent transparent;
}

#detailsPane::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 225px;
  left: -49px;
  border: 25px solid;
  border-color: transparent #ffffff transparent transparent;
}

.name {
  margin: 5px;
  text-decoration: none;
  font-size: 2em;
  color: #000000;
}

.address, .phone {
  color: #808080;
  font-size: .75em;
  line-height: 0.5em;
  margin-left: 15px;
}

.image {
  margin: 5px;
}

.rating {
  float: left;
  margin-left: 15px;
}

.yelpLink {
  float: right;
  margin-top: -17px;
  margin-bottom: -17px;
}

.reviewCount {
  color: #808080;
  clear: both;
  margin: 0 0 0 15px;
}

#search {
  margin: 10px;
}

#sidebar {
  float:left;
  width: 25vw;
  height: 100vh;
  background-color: #00ff80;
}

#searchButton {
  width: 100%;
  height: 50px;
}

#spinButton {
  width: calc(50% - 5px);
  height: 35px;
  float: left;
}

#stopSpinButton {
  width: calc(50% - 5px);
  height: 35px;
  float: right;
}